<h1><%= fa_icon 'th-list' %> Questions</h1>

<% @questions.each_with_index do |question, i| %>
  <%= link_to question, class: 'btn btn-default btn-block question' do %>
    <span class='badge'><%= i+1 %></span>
    <%= question.title %>
  <% end %>
<% end %>
