<h1><%= fa_icon 'user' %> About</h1>

<p>About</p>

<strong>Emiliano Qaqi</strong></br>
<strong>Phone: (407)913-4526</strong></br>

<p>A beyond senior level developer with startup architecture capabilities and a serial entrepreneur in the crossroad of Augmentation, experimentation on mobile and web technologies.</p>

<p>Exploring designs, economies that tap into the global commons, which will distribute capacity, embrace paradox and reshape the future.</p>

<p>This phrase is always in my mind and makes me develop applications that actually work for my customers' perspective in order to achieve success. Performing for great organizations and finding great innovations is simply great in my résumé, although initiates the difference in establishing projects that intriguer people's interest.</p>

<p>When it comes to creating the next idea or the next invention; my current clients look no further, but to contact me. I do not just provide special, complex, intuitive services, but I also specialize in the latest aspects of marketing, advertising, funding, trademarking, patenting, copyrighting, and generally entrepreneurial innovations. </p>

<p>These aspects of life shaped my design culture and persuaded me to realize that the highest success in design is to achieve ambiguity. On the other hand, programming is an approach from a different angle; that of perfectionism and functional physics in motion.</p>

<strong>Available for consulting services in the following technologies:</strong>
<ul>
<li>Mobile Development (iOS and Android)</li>
<li>Custom Software Development</li>
<li>Full Stack Web Development</li>
<li>Startup Development</li>
<li>Business Consulting</li>
<li>eCommerce Development</li>
<li>Experimental programing in vision technologies (such as image recognition), big data, machine learning and neural networks with quant/predictive potentials.</li>
<li>Startup Development and Business Consulting</li>
<li>Salesforce and SAP</li>
</ul>
