<div class='description'>
  <h1>Kalkomey Questions</h1>
  <p class='lead'>The purpose of this app is to show my knowledge of Ruby on Rails and supporting technologies.</p>
</div>

<hr>

<div class='row'>
  <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 text-center'>
        <%= link_to :questions, class: 'btn btn-primary btn-lg home-button' do %>
          <%= fa_icon 'th-list' %>
          Questions
        <% end %>
      </div>

      <div class='col-xs-12 col-sm-6 text-center'>
        <%= link_to :about, class: 'btn btn-primary btn-lg home-button' do %>
          <%= fa_icon 'user' %>
          About
        <% end %>
      </div>
    </div>
  </div>
</div>
