<div class='description'>
  <h1>Kalkomey Questions</h1>
  <p class='lead'>This app provides answers for a couple of questions.</p>
</div>

<hr>

<div class='row'>
  <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 text-center'>
        <%= link_to 'Questions', :questions, class: 'btn btn-primary btn-lg' %>
      </div>

      <div class='col-xs-12 col-sm-6 text-center'>
        <%= link_to 'About', :about, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
</div>
